body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #eff5f8;
    color: #001b44;
}

.q_box {
    display: block;
    background-color: antiquewhite;
    border: 1px solid slategray;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0;
    margin: 60px auto;
    padding: 20px;
    width: 60%;
    text-align: center;
} 

.top_bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.high_score {
    cursor: pointer;
    text-decoration: underline;
}

.high_score, 
.timer, 
.stop_timer {
    padding: 6px;
    color: currentcolor;
    font-weight: 700;
}

.question { 
    background-color: rgb(243, 167, 167);
    margin-bottom: 65px;
    display: block;
    font-size: 50px;
    border: solid;
}

.choice_A,
.choice_B,
.choice_C,
.choice_D {
    background-color: rgb(140, 190, 235);
    margin-top: 25px;
    width: 50%;
    cursor: pointer;
    font-size: 35px;
    border: solid;
}

